---
layout: default
title: Publications
navbar_title: Publications
body_attr: 'data-spy="scroll" data-target="#navbar-year" data-offset="100"'
---

<div class="row">
    <div class="col-12 col-lg-10">
        {% assign publications_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}
        {% for year in publications_by_year %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in year.items %}
            {% include widgets/publication_item.html item=item first=forloop.first last=forloop.last hide_bottom_border=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <!-- Scrollspy Navigation -->
    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="sticky-top pl-3" style="top: 100px;">
            <nav class="nav nav-pills flex-column sidebar-nav small">
                {% for year in publications_by_year %}
                <a class="nav-link py-1" href="#year-{{ year.name }}">{{ year.name }}</a>
                {% endfor %}
            </nav>
        </div>
    </div>
</div>
